<!-- Modal Aviso-->
  <div class="modal fade bs-example-modal-lg" id="modal-aviso" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg" style="width: 600px;">
      <div class="modal-content">
        <div class="modal-header bg-modal-header modal-aviso">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h3 id="modal-confirmacion-titulo" class="modal-title" align="center">Aviso</h3>
        </div>
        <div id="modal-aviso-msj" class="modal-body" align="center" style="max-height: 450px;">mensaje</div>
        <div class="modal-footer">

          <div class="col-xs-6 col-xs-push-3">
            <button type="button" class="btn btn-warning btn-flat btn-block" data-dismiss="modal" data-toggle="modal" data-backdrop="static">Aceptar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- FinModal-->


<!-- Modal Exito-->
<div id="modal-exito" class="modal fade">
    <div class="modal-dialog modal-registro">
        <div class="modal-registro-header" id="modal-exito-titulo">
           TITULO
        </div>
        <div class="modal-body">
            <div class="col-xs-4 col-md-2">
                <i class="fa fa-check-circle modal-check"></i>
            </div>
            <div class="col-md-10">
                <h4 style="color: #559EC9;margin-right: 95px;" align="center" id="modal-exito-subtitulo">SUBTITULO</h4><br>
                <div class="modal-mensaje" align="center" id="modal-exito-msj" style="margin-right: 95px;">MENSAJE</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12  col-lg-12 ">
          <br>
                <a href="/registro/login">
                    <button class="btn btn-success btn-flat btn-block" style="width: 90px; margin-left: auto; margin-right: auto;">
                        Aceptar
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- FinModal-->