{% load staticfiles %}
<meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

      <!-- Bootstrap -->
      <link href="/static/css/bootstrap.min.css"  rel="stylesheet" type="text/css" />
      <link href="/static/css/font-awesome.min.css"  rel="stylesheet" type="text/css"/>
      <link href="/static/css/rcs/pdf_style.css"  rel="stylesheet" type="text/css"/>
      {# <link href="{{ http_host }}/static/css/bootstrap.min.css"  rel="stylesheet" type="text/css" /> #}
      {# <link href="{{ http_host }}/static/css/font-awesome.min.css"  rel="stylesheet" type="text/css"/> #}


<section id="content">
    <div>

      <div>
      <table class="table table-bordered" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
        <tbody>
          <tr>
            <td class="" style="width:30%;padding:0;background-color:white">
              <br>
                <center>
                  <img   alt="My image" src="{% static "img/seguros_horizontes_logo.png" %}" >
                </center>
            </td>
            <td class="" style="width:35%;padding:0;padding-top:10px;background-color:white">
            <center>
              
             <h3><b>INFORME DE INSPECCI&Oacute;N</b></h3>
              <h3><b>AUTOM&Oacute;VIL</b></h3>
            <br>
            </center>
            </td>
            <td class="" style="padding:0;width:25%;background-color:white">
            <br>
            <center>
              {# <img align="middle" width="110px" height="70px" alt="My image" src="{% static "img/INATUR.jpg" %}"> #}
            </center>
            </td>
            </tr>
        </tbody>
      </table>
        <br>
        <table class="table table-bordered" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
          <thead>
            <th style="background-color: #eee;width:20%"  >
              <center>RIF</center>
            </th>
            <th style="background-color: #eee;width:60%"  >
              <center>Nombre o RAZ&Oacute;N SOCIAL</center>
            </th>
            <th style="background-color: #eee;width:20%"  >
              <center>P-N: 201506170000001   </center>
            </th>
            
          </thead>
          <tbody>
            <td style="background-color:white">
              <center>123123</center>
            </td>
              
              <td style="background-color:white">
                <center>123123</center>
              </td>
              <td style="background-color:white">
                 {# <img alt="My Image" src="{{ http_host }}/pagos/barcode/?N=201506170000001" style="width: 200px; height: 50px;"/> #}
              </td>
              
          </tbody>
        </table>
        <br>
          <table class="table table-bordered table-striped" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
          <thead>
            
            <td style="background-color: #eee;width:25%"  >
              <center>NRO. LIQUIDACI&Oacute;N</center>
            </td>
            <td style="background-color: #eee;width:17%"  >
              <center>Fecha Liquidaci&oacute;n</center>
            </td>
            <td style="background-color: #eee;width:10%"  >
              <center>Porci&oacute;n</center>
            </td>
            <td style="background-color: #eee;width:17%"  >
              <center>Fecha Vencimiento</center>
            </td>
            <td style="background-color: #eee;idth:30%"  >
              <center>Periodo Fiscal</center>
            </td>
          </thead>
          <tbody>
            <td style="background-color:white;">
              <center>123123123</center>
            </td>
            <td style="background-color:white;">
              <center></center>
            </td>
            <td style="background-color:white;">
              <center> 1 </center>
            </td>
            <td style="background-color:white;">
              <center></center>
            </td>
            <td style="background-color:white;">
              <table class="table table-bordered table-striped"  style="width:100%;margin-bottom:0;margin-top:0px;">
                  <thead>
                    <td style="background-color:white;">
                      <center>desde</center>
                    </td>
                    <td style="background-color:white;">
                      <center>hasta</center>
                    </td>   
                  </thead>
                  <tbody>
                    <td style="background-color:white;">
                      <center>xx/xx/xxxx</center>
                    </td>
                    <td style="background-color:white;">
                      <center>yy/yy/yyyy</center>
                    </td>   
                    
                  </tbody>
              </table>
            </td>
            
          </tbody>
        </table>
        <br>
        <table class="table table-bordered" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
          <thead>
            <tr>
                <td colspan="15" style="width:100%; background-color: white;"><center>CONDICIONES GENERALES DEL VEH&Iacute;CULO</center></td>
            </tr>
            <td style="background-color: #eee;width:17%"  >
              <center>PARTES</center>
            </td>
            
            <td style="background-color: #eee;width:3%"  >
              <center>B</center>
            </td>
             <td style="background-color: #eee;width:3%"  >
              <center>R</center>
            </td> 
            <td style="background-color: #eee;width:3%"  >
              <center>M</center>
            </td>
            
            <td style="background-color: #eee;width10%"  >
              <center>OBSERVACIONES</center>
            </td>

            <td style="background-color: #eee;width:17%"  >
              <center>PARTES</center>
            </td>
            
            <td style="background-color: #eee;width:3%"  >
              <center>B</center>
            </td>
             <td style="background-color: #eee;width:3%"  >
              <center>R</center>
            </td> 
            <td style="background-color: #eee;width:3%"  >
              <center>M</center>
            </td>
            
            <td style="background-color: #eee;width10%"  >
              <center>OBSERVACIONES</center>
            </td>

            <td style="background-color: #eee;width:17%"  >
              <center>PARTES</center>
            </td>
            
            <td style="background-color: #eee;width:3%"  >
              <center>B</center>
            </td>
             <td style="background-color: #eee;width:3%"  >
              <center>R</center>
            </td> 
            <td style="background-color: #eee;width:3%"  >
              <center>M</center>
            </td>
            
            <td style="background-color: #eee;width10%"  >
              <center>OBSERVACIONES</center>
            </td>

          </thead>
          <tbody>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          </tbody>
        </table>


        <table class="table table-bordered" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
          <thead>
            <tr>
                <td colspan="15" style="width:100%; background-color: white;"><center>MEC&Aacute;NICA DEL VEH&Iacute;CULO</center></td>
            </tr>
            <td style="background-color: #eee;width:17%"  >
              <center>PARTES</center>
            </td>
            
            <td style="background-color: #eee;width:3%"  >
              <center>B</center>
            </td>
             <td style="background-color: #eee;width:3%"  >
              <center>R</center>
            </td> 
            <td style="background-color: #eee;width:3%"  >
              <center>M</center>
            </td>
            
            <td style="background-color: #eee;width10%"  >
              <center>OBSERVACIONES</center>
            </td>

            <td style="background-color: #eee;width:17%"  >
              <center>PARTES</center>
            </td>
            
            <td style="background-color: #eee;width:3%"  >
              <center>B</center>
            </td>
             <td style="background-color: #eee;width:3%"  >
              <center>R</center>
            </td> 
            <td style="background-color: #eee;width:3%"  >
              <center>M</center>
            </td>
            
            <td style="background-color: #eee;width10%"  >
              <center>OBSERVACIONES</center>
            </td>

            <td style="background-color: #eee;width:17%"  >
              <center>PARTES</center>
            </td>
            
            <td style="background-color: #eee;width:3%"  >
              <center>B</center>
            </td>
             <td style="background-color: #eee;width:3%"  >
              <center>R</center>
            </td> 
            <td style="background-color: #eee;width:3%"  >
              <center>M</center>
            </td>
            
            <td style="background-color: #eee;width10%"  >
              <center>OBSERVACIONES</center>
            </td>

          </thead>
          <tbody>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          </tbody>
        </table>
        <table class="table table-bordered" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
          <thead>
            <tr>
                <td colspan="15" style="width:100%; background-color: white;"><center>ACCESORIOS DEL VEH&Iacute;CULO</center></td>
            </tr>
            <td style="background-color: #eee;width:17%"  >
              <center>PARTES</center>
            </td>
            
            <td style="background-color: #eee;width:3%"  >
              <center>B</center>
            </td>
             <td style="background-color: #eee;width:3%"  >
              <center>R</center>
            </td> 
            <td style="background-color: #eee;width:3%"  >
              <center>M</center>
            </td>
            
            <td style="background-color: #eee;width10%"  >
              <center>OBSERVACIONES</center>
            </td>

            <td style="background-color: #eee;width:17%"  >
              <center>PARTES</center>
            </td>
            
            <td style="background-color: #eee;width:3%"  >
              <center>B</center>
            </td>
             <td style="background-color: #eee;width:3%"  >
              <center>R</center>
            </td> 
            <td style="background-color: #eee;width:3%"  >
              <center>M</center>
            </td>
            
            <td style="background-color: #eee;width10%"  >
              <center>OBSERVACIONES</center>
            </td>

            <td style="background-color: #eee;width:17%"  >
              <center>PARTES</center>
            </td>
            
            <td style="background-color: #eee;width:3%"  >
              <center>B</center>
            </td>
             <td style="background-color: #eee;width:3%"  >
              <center>R</center>
            </td> 
            <td style="background-color: #eee;width:3%"  >
              <center>M</center>
            </td>
            
            <td style="background-color: #eee;width10%"  >
              <center>OBSERVACIONES</center>
            </td>

          </thead>
          <tbody>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          	<tr>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
	            <td style="background-color:white;">
	              <center>Nombre</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> X</center>
	            </td>
	            <td style="background-color:white;">
	              <center>X</center>
	            </td>
	            <td style="background-color:white;">
	              <center> obs</center>
	            </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-bordered" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
          <thead>
            <tr>
                <td style="width:100%; background-color: white;" aling="left">(*) Indicar marca y modelo</td>
            </tr>
          </thead>
        </table>









        <br>
          <table class="table table-bordered" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
          <thead>
            
            <td style="background-color: #eee;width:70%"  >
              {# <center>TOTAL</center> #}
              <div  align="right" >TOTAL:</div>
            </td>
            <td style="background-color:white;">
              <center>123123</center>
            </td>
            
          </thead>
        </table>
        <br>
          <table class="table table-bordered" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
          <thead>
            
             <tr>
                <td colspan="2" style="width:100%; background-color: white;"><center>FORMA DE PAGO</center></td>
            </tr>
            <td style="background-color: #eee;width:50%"  >
              <center>EFECTIVO</center>
            </td>
            <td style="background-color:#eee;width:50%">
              <center>CHEQUE DE BANCO</center>
            </td>
            
          </thead>
          <tbody>
            <td style="background-color:white;">
              <center>----------</center>
            </td>
            <td style="background-color:white;">
              <center>----------</center>
            </td>
            
          </tbody>
        </table>
        <br>
          <table class="table table-bordered" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
          <thead>
            
            <td rowspan="2" style="background-color: #eee;width:50%"  >
              <div  align="margin-left" >CIUDAD:<br></div>
            </td>
            <td rowspan="2" style="background-color:#eee;width:50%">
              <div  align="margin-left" >FIRMA PAGADOR: <br></div>
            </td>
            
          </thead>
          <tbody>
            <td style="background-color: #eee;width:50%"  >
              
            </td>
            <td  style="background-color:#eee;width:50%">
            
            </td>
            

          </tbody>
        </table>
        <br>
          <table class="table table-bordered" border="1" style="width:100%;margin-bottom:0;margin-top:0px;">
          <thead>
            
            <td style="background-color: #C3C3C3 ;width:100%"  >
              <center>VALIDACI&Oacute;N BANCO RECEPTOR</center>
            </td>
            
          </thead>
        </table>
         

			</div>
		</div>
</section>