{% extends "base.html" %}
{% load static %}

{% block extra_css %}

<link href="/static/css/registro/common_style.css"  rel="stylesheet" type="text/css"/>
    
{% endblock extra_css %}

{% block main_content %}
{% include "menu_base.html" %}

    <h1>Editar_usuariooooo</h1>

<div class="container">
	
<div class="row">
	
<div class="col-xs-1"></div>

<div class="col-xs-10">
<section class="jumbotron">
<form method="post" id="id_form_editar_usuario" action="{% url 'editar_cuenta' %}">
	{%csrf_token%}
    <section>
        <div class="title">Informaci&oacute;n de la Cuenta</div>

    	
		<br>

		<div class="row">
			<div class="col-xs-4">
				<label>Tipo de usuario</label>
    				<input type="text" class="form-control" id='id_tipo_usuario' readonly="true" value=" {{usuario.fk_tipo_usuario.nombre|title}}" />
			</div>
			<div class="col-xs-4">
				<label>Usuario</label>
				<input type="text" class="form-control" readonly="true" value="{{usuario.username}}" />
				<div class=" small_error_letter error" id="id-error-username" >

	         	</div>
			</div>

			
		</div>
	</section>
	<section>
        <div class="title">Datos Personales</div>


		<div class="row">
			<div class="col-xs-4">
				<label>Nombre</label>
				<input type="text" class="form-control" readonly="true" value="{{usuario.nombre}}"/>
				
				<div class="error" id="id-error-nombre" >

	            </div>
			</div>

			<div class="col-xs-4">
				<label>Apellido</label>	
				<input type="text" class="input-mask-n form-control" readonly="true" value="{{usuario.apellido}}">
				<div class="error" id="id-error-apellido" >

	            </div>
			</div>
			<div class="col-xs-4">
				<label>C&eacute;dula</label>	
				<input type="text" class="ci-mask form-control" readonly="true" value="{{usuario.cedula}}" />
				<div class=" error" id="id-error-cedula" >
	            </div>
			</div>
			
		</div>

    </section>

    <section>
    	<div class="title">Cambio de correo</div>

		<div class="row">

			<div class="col-xs-6">
				<label>Nuevo correo</label>
				<input type="email" name="correo_electronico" placeholder="{{usuario.correo_electronico}}"  id="id_correo_electronico" class="form-control" placeholder="Nombre@Dominio.com" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off required/>
				<div class="error" id="id-error-correo" >

	            </div>
			</div>

			<div class="col-xs-6">
				<label>Verificar nuevo correo</label>
				<input type="email" name="email2" id="id_correo2" class="form-control" onblur="confirmEmail()" placeholder="{{usuario.correo_electronico}}" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off required/>
				<div class="error" id="id-error-confirm-email">
					

				</div>
			</div>
			
			
		</div>
	</section>	

	<section>
    	<div class="title">Cambio de contraseña</div>
		<div class="row">
			<div class="col-xs-6">
				<label>Nueva contraseña</label>
				<input type="password" name="password" placeholder="contraseña" class="form-control" id="id_password" required/>
				<div class="error" id="id-error-password" >

	            </div>

			</div>
			<div class="col-xs-6">
				
				<label>Verificar nueva contraseña</label>
				<input type="password" name="password2" placeholder="verificar contraseña" class="form-control" id="id_password_confirm" required/>	
				<div class="error" id="id-error-confirm-pass-recover" >

	            </div>

			</div>
			
			
		</div>
	</section>	
		<div class="row">
		<div class="col-xs-6">
			<!-- <button type="button" onclick="validar_campos()" name="submit"  ></button> -->
			<a type="button "href="{% url "dashboard" %}" class="btn  btn-warning btn-block letter">Cancelar</a>
		</div>	
		<div class="col-xs-6">
			<button type="button" onclick="validar_campos()" name="submit" class="btn  btn-success btn-block letter" >Guardar cambios</button>
		</div>	

		
		</div>
		<div class="error" id="id_submit_registro" >

        </div>
	</form>
</section>
</div>
<div class="col-xs-1"></div>
</div>
{% endblock main_content %}

{% block extra_script %}
 	<script src="{{STATIC_URL}}js/registro/editar_usuario.js"></script>

{% endblock extra_script %}
