{% extends "base.html" %}


{% block extra_css %}

<link href="/static/css/registro/login.css"  rel="stylesheet" type="text/css"/>
    
{% endblock extra_css %}

{% block main_content %}



<div class="container">
	
<div class="row">
	
<div class="col-xs-4"></div>

<div class="col-xs-4">
	
<section class="login-form jumbotron">
	<h2>Recuperar Contraseña</h2>
	<form method="post" action="{% url 'registro_login' %}">
	{%csrf_token%}

		<input type="email" name="email" placeholder="email" class="form-control input-lg" required/>
		<input type="text" name="cedula" placeholder="cedula" class="form-control input-lg" id="cedula" required/>

		<button type="submit" name="submit" class="btn btn-lg btn-primary btn-block letter" >Recuperar Contraseña</button>
		 <div >
		 	<!-- <div align="right"><a href="{%  url 'registro_usuario' %}">Registrarse</a> <br> <a href="{% url 'recuperar_contrasena' %}">Recuperar contraseña</a></div> -->
		 	
		 </div>
		 
	</form>


</section>




</div>

<div class="col-xs-4"></div>


</div>



</div>














<footer class="footer">
	<center><a href="#" style="color:white;">www.webtobe.com</a></center>
</footer>




{% endblock %}

{% block extra_script %}

<script src="{{STATIC_URL}}js/registro/login.js"></script>

{% endblock extra_script%}