{% extends "base.html" %}
{% load static %}
{% load rcs_tags %}
{% block extra_css %}
    <link href="/static/css/rcs/flujo_style.css"  rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block main_content %}
{% include "menu_base.html" %}


<div class="container">
{# Condiciones Generales del vehiculo #}
<div class="well" style="background-color:white; ">
<div class="row">
	<center>
	    <section>
	        <div class="title">Condiciones Generales del Veh&iacute;culo</div>
		</section>
	</center>
	<form method="post" id="form_condiciones_vehiculo" action="{% url 'condiciones_vehiculo' %}">
	{% csrf_token %}
	<input type="hidden" name="id_solicitud"  class="form-control"  value={{solicitud.id}} >
	
	<div class="col-xs-12">
		<table class="table table-bordered">
			<thead>
			{# style="width:14%" #}
				<th style="width:12.1%"><center>PARTE</center></th>
				<th style="width:9.1%"><center>ESTADO</center></th>
				<th style="width:12.1%"><center>OBSERVACI&Oacute;NES</center></th>
				<th style="width:12.1%"><center>PARTE</center></th>
				<th style="width:9.1%"><center>ESTADO</center></th>
				<th style="width:12.1%"><center>OBSERVACI&Oacute;NES</center></th>
				<th style="width:12.1%"><center>PARTE</center></th>
				<th style="width:9.1%"><center>ESTADO</center></th>
				<th style="width:12.1%"><center>OBSERVACI&Oacute;NES</center></th>
			</thead>
			<tbody>
				<tr>
							
				{% for condicion in condiciones  %}
					{% if forloop.counter|primera_col %}
						<td><h4 >{{condicion.parte}}</h4></td>
						<td>
							{% create_name "radio" condicion.codigo as nambre %}
							{% input_content form_data nambre as input %}
							{% for estado in estados_vehiculo %}
								{% if input.value|check_input or input.error|check_input %}
								  <input type="radio" name="radio_{{condicion.codigo}}" value="{{estado.codigo}}" {% if input.value == estado.codigo  %} checked="checked"{% endif %}/> {{estado.codigo}} 

								{% else %}
								<!-- <p>{{condicion.fk_estado_vehiculo.codigo}}</p> -->
								<!-- <p>{{estado.codigo}}</p> -->
									<input type="radio" name="radio_{{condicion.codigo}}" value="{{estado.codigo}}" {% if condicion.fk_estado_vehiculo.codigo == estado.codigo  %} checked="checked" {% endif %}/> {{estado.codigo}} 
								{% endif %}
								  <br>
									
							{% endfor %}
							<div class="error" id="radio_{{condicion.codigo}}_error">{{input.error}}</div>
						</td>
						<td>
							{% create_name "observacion" condicion.codigo as nambre %}
							{% input_content form_data nambre as input %}
							{% if input.value|check_input or input.error|check_input %}
							<textarea rows="2" cols="12" name="observacion_{{condicion.codigo}}">{{input.value}}</textarea>
							{% else %}
							<textarea rows="2" cols="12" name="observacion_{{condicion.codigo}}">{{condicion.observacion|default_if_none:""}}</textarea>
							{% endif %}
							<div class="error" id="observacion_{{condicion.codigo}}_error">{{input.error}}</div>
						</td>
					{% endif %}
					{% if forloop.counter|segunda_col %}
						<td><h4 >{{condicion.parte}}</h4></td>
						<td>
							{% create_name "radio" condicion.codigo as nambre %}
							{% input_content form_data nambre as input %}
							{% for estado in estados_vehiculo %}
							  {% if input.value|check_input or input.error|check_input %}
								  <input type="radio" name="radio_{{condicion.codigo}}" value="{{estado.codigo}}" {% if input.value == estado.codigo  %} checked="checked"{% endif %}/> {{estado.codigo}} 

								{% else %}
								<!-- <p>{{condicion.fk_estado_vehiculo.codigo}}</p> -->
								<!-- <p>{{estado.codigo}}</p> -->
									<input type="radio" name="radio_{{condicion.codigo}}" value="{{estado.codigo}}" {% if condicion.fk_estado_vehiculo.codigo == estado.codigo  %} checked="checked" {% endif %}/> {{estado.codigo}} 
								{% endif %}
								  <br>
							{% endfor %}
							<div class="error" id="radio_{{condicion.codigo}}_error">{{input.error}}</div>
						</td>
						<td>
							{% create_name "observacion" condicion.codigo as nambre %}
							{% input_content form_data nambre as input %}
							{% if input.value|check_input or input.error|check_input %}
							<textarea rows="2" cols="12" name="observacion_{{condicion.codigo}}">{{input.value}}</textarea>
							{% else %}
							<textarea rows="2" cols="12" name="observacion_{{condicion.codigo}}">{{condicion.observacion|default_if_none:""}}</textarea>
							{% endif %}
							<div class="error" id="observacion_{{condicion.codigo}}_error">{{input.error}}</div>
						</td>
					{% endif %}
					{% if forloop.counter|tercera_col %}
						<td><h4 >{{condicion.parte}}</h4></td>
						<td>
							{% create_name "radio" condicion.codigo as nambre %}
							{% input_content form_data nambre as input %}
							{% for estado in estados_vehiculo %}
								{% if input.value|check_input or input.error|check_input %}
									<input type="radio" name="radio_{{condicion.codigo}}" value="{{estado.codigo}}" {% if input.value == estado.codigo  %} checked="checked"{% endif %}/> {{estado.codigo}} 

								{% else %}
								<!-- <p>{{condicion.fk_estado_vehiculo.codigo}}</p> -->
								<!-- <p>{{estado.codigo}}</p> -->
									<input type="radio" name="radio_{{condicion.codigo}}" value="{{estado.codigo}}" {% if condicion.fk_estado_vehiculo.codigo == estado.codigo  %} checked="checked" {% endif %}/> {{estado.codigo}} 
								{% endif %}
							  <br>
							{% endfor %}
							<div class="error" id="radio_{{condicion.codigo}}_error">{{input.error}}</div>
						</td>
						<td>
							{% create_name "observacion" condicion.codigo as nambre %}
							{% input_content form_data nambre as input %}
							{% if input.value|check_input or input.error|check_input %}
							<textarea rows="2" cols="12" name="observacion_{{condicion.codigo}}">{{input.value}}</textarea>
							{% else %}
							<textarea rows="2" cols="12" name="observacion_{{condicion.codigo}}">{{condicion.observacion|default_if_none:""}}</textarea>
							{% endif %}
							<div class="error" id="observacion_{{condicion.codigo}}_error">{{input.error}}</div>
						</td>
					{% endif %}
					{% if forloop.counter|divisibleby:3 %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<div class="col-xs-4 col-xs-offset-2"><a class="btn btn-danger btn-block" href="{% url "gestion_ticket" %}" >Atrás</a></div>

		<div class="col-xs-4"><button class="btn btn-primary btn-block" type="submit">Continuar</button></div>

	</div>
	
	</form>
	
</div>
</div>
	


</div>


{% endblock main_content %}

{% block extra_script %}
 	<!-- <script src="{{STATIC_URL}}js/registro/editar_usuario.js"></script> -->

{% endblock extra_script %}
