{% extends "base.html" %}
{% load static %}
{% load rcs_tags %}
{% block extra_css %}
    <link href="/static/css/rcs/flujo_style.css"  rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block main_content %}
{% include "menu_base.html" %}


<div class="container">

{# Mecanica del vehiculo #}
<div class="well" style="background-color:white; ">
<div class="row">
	<center>
	    <section>
	        <div class="title">Detalles de Datos</div>
		</section>
	</center>
</div>
<div class="row">
   <div class="col-xs-4"></div>
   <div class="col-xs-4"></div>
   <div class="col-xs-4">
   		<div align="right">
   			
       <button id="boton-agregar-detalle" class="btn btn-primary" type="button" onclick="agregar_detalle();"><span> Agregar detalle <i class="fa fa-plus-square"></i></span>
   		</div>
   </div>
</div>
<div class="row">
	<form method="post" id="form_detalles_vehiculo" action="{% url 'detalles_vehiculo' %}">
	{% csrf_token %}
	<input type="hidden" name="id_solicitud"  class="form-control"  value={{solicitud.id}} >
	<input type="hidden" name="cantidad_detalles"  class="form-control"  value={{cantidad}} >
	<input type="hidden" name="contador_agregados"  class="form-control"  id="contador_agregados" value="0" >
	
	<br>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-bordered" id="tabla_detalles">
				<thead>
				{# style="width:14%" #}
						<th style="width:18%"><center>CODIGO</center></th>
						<th style="width:26%"><center>92. PIEZA</center></th>
						<th style="width:26%"><center>93. TIPO DE DAÑO</center></th>
						<th style="width:26%"><center>94. COSTO APROX.</center></th>
						<th style="width:3%"><center> </center></th>
				</thead>
				<tbody id="detalles_table_body">
					{% for detalle in detalles_vehiculo %}
						
						<tr id="id_celda_{{forloop.counter}}" class="cont_tr">
							<td>	
								<input type="text" class="form-control integer_mask codigo_evaluar" id="codigo_{{forloop.counter}}" name="codigo_{{forloop.counter}}" value="{{detalle.codigo}}">
								<center><div id="codigo_input_error_{{forloop.counter}}" class="error"></div></center>
							</td>
							<td>
								<input type="text" class="form-control" name="pieza_{{forloop.counter}}" id="pieza_{{forloop.counter}}" value="{{detalle.pieza}}">
								<center><div id="pieza_input_error_{{forloop.counter}}" class="error"></div></center>
							</td>
							<td>
								<input type="text" class="form-control" name="dano_{{forloop.counter}}" id="dano_{{forloop.counter}}" value="{{detalle.tipo_dano}}">
								<center><div id="dano_input_error_{{forloop.counter}}" class="error"></div></center>
							</td>
							<td>
								<input type="text" class="form-control decimal_mask" name="costo_{{forloop.counter}}" id="costo_{{forloop.counter}}" value="{{detalle.costo_aproximado}}">
								<center><div id="costo_input_error_{{forloop.counter}}" class="error"></div></center>
							</td>
							<td>
								<botton id="id_eliminar_celda_{{forloop.counter}}" class="btn btn-danger" type="button" onclick="eliminar_celda(this);"><center><i class="fa fa-trash white-icon" style="color: white;"></i></center></botton>
							</td>
						</tr>


					{% endfor %}
					<!-- <tr class="cont_tr" id="id_celda_1">
						
						<td>
							{% create_name2 "pieza" "1" as nambre %}
							{% input_content form_data nambre as input %}
							<input type="text" name="pieza_1" class="form-control" value="{{input.value}}"/>
							<div class="error" id="id_pieza_1_error">{{input.error}}</div>
						</td>
							
						<td>
							{% create_name2 "dano" "1" as nambre %}
							{% input_content form_data nambre as input %}
							<input type="text" name="dano_1" class="form-control" value="{{input.value}}"/>
							<div class="error" id="id_pieza_1_error">{{input.error}}</div>
						</td>
							
						<td>
							{% create_name2 "costo" "1" as nambre %}
							{% input_content form_data nambre as input %}
							<input type="text" name="costo_1" class="form-control" value="{{input.value}}"/>
							<div class="error" id="id_pieza_1_error">{{input.error}}</div>
						</td>

						<td>
							<button id="id_eliminar_celda_1" class="btn btn-danger" type="button" onclick="eliminar_celda(this);"> <center><i class="fa fa-trash white-icon" style="color: white;"></i></center>
						</td>
						
					</tr> -->
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-4 col-xs-offset-2"><a class="btn btn-danger btn-block" href="{% url "accesorios_vehiculo" %}" >Atrás</a></div>

		<div class="col-xs-4"><button  class="btn btn-primary btn-block"  type="button" onclick="submit_detalles()">Continuar</button></div>

	</div>
	
	
	</form>
</div>

</div>
</div>


{% endblock main_content %}

{% block extra_script %}
 	<script src="{{STATIC_URL}}js/rcs/detalles_datos.js"></script>

{% endblock extra_script %}
