{% extends "base.html" %}
{% load static %}
{% load rcs_tags %}
{% block extra_css %}
    <link href="/static/css/rcs/common_style.css"  rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block main_content %}
{% include "menu_base.html" %}


<div class="container">

{# Documentos del vehiculo #}
<div class="well" style="background-color:white; ">
<div class="row">
	<center>
	    <section>
	        <div class="title">Documentos Presentados para Inspecci&oacute;n</div>
		</section>
	</center>
	<form method="post" id="form_documentos_vehiculo" action="{% url 'documentos_vehiculo' %}">
	{% csrf_token %}
	<input type="hidden" name="id_solicitud"  class="form-control"  value={{solicitud.id}} >

	<div class="col-xs-12">
		<table class="table table-bordered">
			<thead>
			{# style="width:14%" #}
				<th style="width:12.1%"><center>DOCUMENTO</center></th>
				<th style="width:9.1%"><center>TRAJO
				</center></th>
				<th style="width:12.1%"><center>DOCUMENTO</center></th>
				<th style="width:9.1%"><center>TRAJO
				</center></th>
				<th style="width:12.1%"><center>DOCUMENTO</center></th>
				<th style="width:9.1%"><center>TRAJO
				</center></th>
			</thead>
			<tbody>
				<tr>
							
				{% for documento in documentos  %}
					{% if forloop.counter|primera_col %}
						<td><h4 >{{documento.nombre}}</h4></td>
						<td>
						{% create_name "radio" documento.codigo as nambre %}
							{% input_content form_data nambre as input %}
						 	<input type="radio" name="radio_{{documento.codigo}}" value="true" {% if input.value == 'true' %} checked="checked"{% endif %} />  Si
					    	<br>
							<input type="radio" name="radio_{{documento.codigo}}" value="false" {% if input.value == 'false' %} checked="checked"{% endif %} /> No  
							<div class="error" id="error_estado_{{documento.codigo}}">{{input.error}}</div>

						</td>
							
					{% endif %}
					{% if forloop.counter|segunda_col %}
						<td><h4 >{{documento.nombre}}</h4></td>
						<td>
						{% create_name "radio" documento.codigo as nambre %}
							{% input_content form_data nambre as input %}
						 	<input type="radio" name="radio_{{documento.codigo}}" value="true" {% if input.value == 'true' %} checked="checked"{% endif %} />  Si
					    	<br>
							<input type="radio" name="radio_{{documento.codigo}}" value="false" {% if input.value == 'false' %} checked="checked"{% endif %} /> No  
							<div class="error" id="error_estado_{{documento.codigo}}">{{input.error}}</div>

						</td>
					{% endif %}
					{% if forloop.counter|tercera_col %}
						<td><h4 >{{documento.nombre}}</h4></td>
						<td>
						{% create_name "radio" documento.codigo as nambre %}
							{% input_content form_data nambre as input %}
						 	<input type="radio" name="radio_{{documento.codigo}}" value="true" {% if input.value == 'true' %} checked="checked"{% endif %} />  Si
					    	<br>
							<input type="radio" name="radio_{{documento.codigo}}" value="false" {% if input.value == 'false' %} checked="checked"{% endif %} /> No  
							<div class="error" id="error_estado_{{documento.codigo}}">{{input.error}}</div>

						</td>
					{% endif %}
					{% if forloop.counter|divisibleby:3 %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	<button type="submit">SEND</button>
	</form>
</div>
</div>
</div>






{% endblock main_content %}

{% block extra_script %}
 	<!-- <script src="{{STATIC_URL}}js/registro/editar_usuario.js"></script> -->

{% endblock extra_script %}
