{% extends "base.html" %}
{% load static %}
{% load rcs_tags %}
{% block extra_css %}
    <link href="/static/css/rcs/common_style.css"  rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block main_content %}
{% include "menu_base.html" %}


<div class="container">

{# Mecanica del vehiculo #}
<div class="row">
	<center>
	    <section>
	        <div class="title">Mec&aacute;nica del Veh&iacute;culo</div>
		</section>
	</center>
	<form method="post" id="form_mecanica_vehiculo" action="{% url 'mecanica_vehiculo' %}">
	{% csrf_token %}
	<input type="hidden" name="id_solicitud"  class="form-control"  value={{solicitud.id}} >
	<div class="col-xs-12">
		<table class="table table-bordered">
			<thead>
			{# style="width:14%" #}
				<th style="width:12.1%"><center>PARTE</center></th>
				<th style="width:9.1%"><center>ESTADO</center></th>
				<th style="width:12.1%"><center>OBSERVACI&Oacute;NES</center></th>
				<th style="width:12.1%"><center>PARTE</center></th>
				<th style="width:9.1%"><center>ESTADO</center></th>
				<th style="width:12.1%"><center>OBSERVACI&Oacute;NES</center></th>
				<th style="width:12.1%"><center>PARTE</center></th>
				<th style="width:9.1%"><center>ESTADO</center></th>
				<th style="width:12.1%"><center>OBSERVACI&Oacute;NES</center></th>
			</thead>
			<tbody>
				<tr>
							
				{% for mecanica in mecanicas  %}
					{% if forloop.counter|primera_col %}
						<td><h4 >{{mecanica.parte}}</h4></td>
						<td>
							{% create_name "radio" mecanica.codigo as nambre %}
							{% input_content form_data nambre as input %}
							{% for estado in estados_vehiculo %}
							  <input type="radio" name="radio_{{mecanica.codigo}}" value="{{estado.codigo}}"{% if input.value == estado.codigo  %} checked="checked" {% endif %}/> {{estado.codigo}} 
							  <br>
								
							{% endfor %}
							<div class="error" id="radio_{{mecanica.codigo}}_error">{{input.error}}</div>
						</td>
						<td>
							{% create_name "observacion" mecanica.codigo as nambre %}
							{% input_content form_data nambre as input %}
							<textarea rows="2" cols="12" name="observacion_{{mecanica.codigo}}">{{input.value}}</textarea>
							<div class="error" id="id_observacion_{{mecanica.codigo}}_error">{{input.error}}</div>
						</td>
					{% endif %}
					{% if forloop.counter|segunda_col %}
						<td><h4 >{{mecanica.parte}}</h4></td>
						<td>
							{% create_name "radio" mecanica.codigo as nambre %}
							{% input_content form_data nambre as input %}
							{% for estado in estados_vehiculo %}
							  <input type="radio" name="radio_{{mecanica.codigo}}" value="{{estado.codigo}}"{% if input.value == estado.codigo  %} checked="checked" {% endif %}/> {{estado.codigo}} 
							  <br>
								
							{% endfor %}
							<div class="error" id="radio_{{mecanica.codigo}}_error">{{input.error}}</div>
						</td>
						<td>
							{% create_name "observacion" mecanica.codigo as nambre %}
							{% input_content form_data nambre as input %}
							<textarea rows="2" cols="12" name="observacion_{{mecanica.codigo}}">{{input.value}}</textarea>
							<div class="error" id="id_observacion_{{mecanica.codigo}}_error">{{input.error}}</div>
						</td>
					{% endif %}
					{% if forloop.counter|tercera_col %}
						<td><h4 >{{mecanica.parte}}</h4></td>
						<td>
							{% create_name "radio" mecanica.codigo as nambre %}
							{% input_content form_data nambre as input %}
							{% for estado in estados_vehiculo %}
							  <input type="radio" name="radio_{{mecanica.codigo}}" value="{{estado.codigo}}"{% if input.value == estado.codigo  %} checked="checked" {% endif %}/> {{estado.codigo}} 
							  <br>
								
							{% endfor %}
							<div class="error" id="radio_{{mecanica.codigo}}_error">{{input.error}}</div>
						</td>
						<td>
							{% create_name "observacion" mecanica.codigo as nambre %}
							{% input_content form_data nambre as input %}
							<textarea rows="2" cols="12" name="observacion_{{mecanica.codigo}}">{{input.value}}</textarea>
							<div class="error" id="id_observacion_{{mecanica.codigo}}_error">{{input.error}}</div>
						</td>
					{% endif %}
					{% if forloop.counter|divisibleby:3 %}
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	<button type="submit">SEND</button>
	</form>
</div>


</div>


{% endblock main_content %}

{% block extra_script %}
 	<!-- <script src="{{STATIC_URL}}js/registro/editar_usuario.js"></script> -->

{% endblock extra_script %}
