Latoneria
Pintura
Tapiceria
Cauchos
Platinas 
Tableros 
Faros Y Sus Aros
Emblema De Modelo
Estribos
Frontal
Modific. Del Modelo

Planilla O Rejilla Frontal
Sop O Focos Traseros
Cocuyos Frontales
Retrovisor Interno
Manillas Y Cerraduras
Lipia Parabrisas
Retrovisores Externos 
Guardafangos 
Puertas 
Capot 
Carter Trasero

Techo 
Compuesta Trasera
Parabrisas
Parachoques
Cometa
Butacas Y Asientos
Volantes
Cinturones De Seguridad
Ventanas
Maleta Y Tapa Maleta
Otro:


Encenddo
Otros

Embraque O Crocht
Otros

Sistema Electrico
Otros:


Radio: Anteana:
Radio Reproductos
Cornetas Especiales 
Compact Disc
Ecualizados
Televizor
Planta
Trnaca Pedal
Cortacorreinte

Foco De Posicion
Aire Acondicionado
Spoiler 
Llave De Cruz 
Triangulo De Seguridad
Parrilla Techo
Cabina
Faros Especiales
Themo King
Tranca Palanca

Rines Especiales
Caucho Respuesto
Parachoque Espec. (Mataburro)
Rayas Decativas
Tazas De Los Cauchos 
Gato 
Anti-Robo
Otro: 
Otro: 


DOCUMENTOS PRESENTADOS PARA INSPECCIÓN

Registro Automotor Permanente (R.P.A)
Carnet De Circulacion
Documento De Propiedad (Original/Copia)
Facutura De Compra
Planilla Del Senial De Exoneracion De Impuestos
Certificado De Origen

NOTA: La inpseccion del vehículo descrito anteriormente, no implica aceptación del riesgo por par de Horizonte S.A. los riegos que asume la empresa correrán por cuenta de la misma, desde el momento en que el asegurado haya cancelado la prima convenida.

Yo, el inspector declaro que:

No he omitido y/o simulado, ningún hecho o circunstancia en las respuesta, que puedan modificar las condiciones de riego y que los datos indicado fueron tomados del vehículo descrito en el presente formulario y en las fotografías respectivas.

Yo, el Asegurado y/o Solicitante declaro que:

a) En caso de fraude o declaración falsa por mi parte, la presente inspección es NULA, siendo de igual manera NULO el Contrato que la misma respalda, censando en cuyo caso toda responsabilidad de la empresa.

b) De igual manera certifico todos y cada uno de los SERIALES y NUMERACIONES Y CONDICIONES indicadas por el inspector, en el presente formulario, como los correspondientes a mi (el) vehículo.

