23. Latoneria
24. Planilla O Rejilla Frontal
25. Techo 
26. Pintura
27. Sop O Focos Traseros
28. Compuesta Trasera
29. Tapiceria
30. Cocuyos Frontales
31. Parabrisas
32. Cauchos
33. Retrovisor Interno
34. Parachoques
35. Platinas 
36. Manillas Y Cerraduras
37. Cometa
38. Tableros 
39. Lipia Parabrisas
40. Butacas Y Asientos
41. Faros Y Sus Aros
42. Retrovisores Externos 
43. Volantes
44. Emblema De Modelo
45. Guardafangos 
46. Cinturones De Seguridad
47. Estribos
48. Puertas 
49. Ventanas
50. Frontal
51. Capot 
52. Maleta Y Tapa Maleta
53. Modific. Del Modelo
54. Carter Trasero
55. Otro:




56. Encenddo
57. Embraque O Crocht
58. Sistema Electrico
59. Otros
60. Otros
61. Otros




62. Radio 
62. Anteana
65. Radio Reproductor
68. Reproductor de Antena
71. Cornetas Especiales 
74. Compact Disc
77. Ecualizados
80. Televizor
83. Planta
86. Tranca Pedal
89. Cortacorreinte

63. Foco De Posicion
66. Aire Acondicionado
69. Spoiler 
72. Llave De Cruz 
75. Triangulo De Seguridad
78. Parrilla Techo
81. Cabina
84. Faros Especiales
87. Themo King
90. Tranca Palanca

64. Rines Especiales
67. Caucho Respuesto
70. Parachoque Espec. (Mataburro)
73. Rayas Decativas
76. Tazas De Los Cauchos 
79. Volante Especial
82. Gato 
85. Anti-Robo
86. Otro 
91. Otro 


DETALLES DE DATOS

92. Pieza
93. Tipo de Daño
94. Costo Aprox.


DOCUMENTOS PRESENTADOS PARA INSPECCIÓN

95. Registro Automotor Permanente (R.P.A)
96. Carnet De Circulacion
97. Documento De Propiedad (Original/Copia)
98. Facutura De Compra
99. Planilla Del Senial De Exoneracion De Impuestos
100. Certificado De Origen

NOTA: La inpseccion del vehículo descrito anteriormente, no implica aceptación del riesgo por par de Horizonte S.A. los riegos que asume la empresa correrán por cuenta de la misma, desde el momento en que el asegurado haya cancelado la prima convenida.

Yo, el inspector declaro que:

No he omitido y/o simulado, ningún hecho o circunstancia en las respuesta, que puedan modificar las condiciones de riego y que los datos indicado fueron tomados del vehículo descrito en el presente formulario y en las fotografías respectivas.

Yo, el Asegurado y/o Solicitante declaro que:

a) En caso de fraude o declaración falsa por mi parte, la presente inspección es NULA, siendo de igual manera NULO el Contrato que la misma respalda, censando en cuyo caso toda responsabilidad de la empresa.

b) De igual manera certifico todos y cada uno de los SERIALES y NUMERACIONES Y CONDICIONES indicadas por el inspector, en el presente formulario, como los correspondientes a mi (el) vehículo.

