{% extends "base.html" %}


{% block extra_css %}

<link href="/static/css/registro/login.css"  rel="stylesheet" type="text/css"/>
    
{% endblock extra_css %}

{% block main_content %}



<div class="container">
	
<div class="row">
	
<div class="col-xs-4"></div>

<div class="col-xs-4">
	
<section class="login-form jumbotron">
	<center><i class="fa fa-car fa-2x" aria-hidden="true"></i><h2>Iniciar Sesi&oacute;n</h2><i class="fa fa-shield fa-2x" aria-hidden="true"></i></center>



	<form method="post" id="id_form_login" action="{% url 'login' %}">
	{%csrf_token%}

		<input type="text" name="usuario" placeholder="usuario" id="id_usuario_login" class="form-control input-lg" required/>
		<input type="password" name="password" placeholder="contraseña" class="form-control input-lg" id="id_password_login" required/>

		<button type="submit" name="submit" class="btn btn-lg btn-primary btn-block letter" >Iniciar sesión</button>
		 
	</form>
	 <div >
	 	<div align="right"><a href="{%  url 'registro_usuario' %}">Registrarse</a> </div>
	 	<div align="right"> <a href="{% url 'restaurar_cuenta' %}">Recuperar contraseña</a></div>
	 	
	 </div>


</section>




</div>

<div class="col-xs-4"></div>


</div>



</div>














<footer class="footer">
	<center><a href="#" style="color:white;">www.webtobe.com</a></center>
</footer>




{% endblock %}

{% block extra_script %}

<script src="{{STATIC_URL}}js/registro/login.js"></script>

{% endblock extra_script%}