{% load rcs_tags %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "dashboard" %}">
      Brand
      <!-- <img alt="Brand" src="..."> -->
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{% url "bandeja_solicitudes" %}">Bandeja Solicitudes</a></li>
        <li><a href="{% url "crear_solicitud" %}">Crear Solicitud</a></li>
       
        {% if request|evaluando %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vehículo {{vehiculo.placa}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url "gestion_ticket" %}">Datos B&aacute;sicos</a></li>
              <li><a href="{% url "condiciones_vehiculo" %}">Condiciones</a></li>
              <li><a href="{% url "mecanica_vehiculo" %}">Mecanica</a></li>
              <li><a href="{% url "accesorios_vehiculo" %}">Accesorios</a></li>
              <li><a href="{% url "detalles_vehiculo" %}">Detalles</a></li>
              <li><a href="{% url "documentos_vehiculo" %}">Documentos</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="{% url "planilla_seguro_carro" %}" {% if request|completa %}
              class="disabled"{% endif %} >Vista previa documento</a></li>
            </ul>
          </li>
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username|upper}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url "editar_cuenta" %}">Configurar cuenta</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url "logout" %}">Cerrar Sesi&oacute;n</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>