{% load rcs_tags %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url "dashboard" %}">
      Vers.Wagen
      <!-- <img alt="Brand" src="..."> -->
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <ul class="nav navbar-nav navbar-right">
        {# {% if request|es_inspector  %} #}
            
          <li><a href="{% url "bandeja_solicitudes" %}">Bandeja Solicitudes</a></li>
        
        {# {% endif %}  #}
        {% if request|es_taquilla %}
            
          <li><a href="{% url "bandeja_tickets" %}">Tickets Creados</a></li>
          <li><a href="{% url "crear_solicitud" %}">Crear Solicitud</a></li>
        
        {% endif %}
        {% if request|es_admin %}

          <li><a href="{% url "bandeja_titulares" %}">Bandeja Titurales</a></li>
          <li><a href="{% url "bandeja_trajo_vehiculo" %}">Bandeja Trajo Vehiculo</a></li>
          <li><a href="{% url "bandeja_usuarios" %}">Bandeja Usuarios</a></li>

          <!--
            <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bandejas<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url "bandeja_titulares" %}">Titurales</a></li>
            <li><a href="{% url "bandeja_trajo_vehiculo" %}">Trajo Vehiculo</a></li>
            <li><a href="{% url "bandeja_usuarios" %}">Usuarios</a></li>
          </ul>
        </li>
          -->
        {% endif %}
        {% if request|evaluando %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Vehículo {{vehiculo.placa}}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{% url "gestion_ticket" %}">Datos B&aacute;sicos</a></li>
              {% if not request|condiciones %}
              <li><a href="{% url "condiciones_vehiculo" %}" {% if request|condiciones %} class="disabled"{% endif %}>Condiciones</a></li>
              {% endif %}

              {% if not request|mecanica %}
              <li><a href="{% url "mecanica_vehiculo" %}" {% if request|mecanica %} class="disabled"{% endif %}>Mecanica</a></li>
              {% endif %}

              {% if not request|accesorios %} 
              <li><a href="{% url "accesorios_vehiculo" %}" {% if request|accesorios %} class="disabled"{% endif %}>Accesorios</a></li>
              {% endif %}

              {% if not request|detalles %}
              <li><a href="{% url "detalles_vehiculo" %}" {% if request|detalles %} class="disabled"{% endif %}>Detalles</a></li>
              {% endif %}

              {% if not request|documentos %} 
              <li><a href="{% url "documentos_vehiculo" %}" {% if request|documentos %} class="disabled"{% endif %}>Documentos</a></li>
              {% endif %}

              {% if not request|completa %}
              <li role="separator" class="divider"></li>
              <li><a href="{% url "planilla_seguro_carro" %}" {% if request|completa %} class="disabled"{% endif %} >Vista previa documento</a></li>
              {% endif %}
            </ul>
          </li>
        {% endif %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{username|upper}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url "editar_cuenta" %}">Configurar cuenta</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url "logout" %}">Cerrar Sesi&oacute;n</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>