{% extends "base.html" %}
{% load static %}
{% load rcs_tags %}
{% block extra_css %}
    <link href="/static/css/rcs/flujo_style.css"  rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block main_content %}
{% include "menu_base.html" %}


<div class="container">
<div class="row">
<div class="title">Usuarios</div>
	<br />
	<div id="filtros_busqueda" class="col-xs-12 collapse in">
 	<div class="well" style=" padding-left: 30px; padding-right: 30px; ">
  		<form id="filter_form_id" class="filter_form" method="GET" action="{% url 'filtro_busqueda_solicitudes_registro' %}">

			<input type="hidden" id="admin_site_id" name="admin_site" value="1">
			<input type="hidden" id="page_id" name="page" value="1" />
			<input type="hidden" id="filter_code_id" name="filter_code" value="BAN_USUARIOS" />
			<input type="hidden" id="filter_obj_id" name="filter_obj" value="Usuario" />
			<div class="row">
				<div class="col-xs-4">
					<label>Cedula</label>
          			<input id="cedula_id" name="cedula" type="text" class="form-control ci-mask" />
          		</div>
				<!-- <div class="col-xs-4"> -->
					<!-- <label>Placa</label> -->
          			<!-- <input id="placa_id" name="placa" type="text" class="form-control" /> -->
          		<!-- </div> -->
          		<div class="col-xs-4">
					<label>Correo</label>
          			<input id="correo_id" name="correo" type="text" class="form-control" />
          		</div>
          		<div class="col-xs-4">
					<label>Tipo de Usuario</label>
					<select  data-placeholder="Seleccionar un estado"  class="form-control chosen-select" name="tipo_usuario" id='id_tipo_usuario' multiple>
					<option value=""></option>

					{% for e in tipos_de_usuario %}
					      <option value="{{ e.codigo }}">{{ e.nombre|title }}</option>
					{% endfor %}
					</select>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<label>Nombre</label>
          			<input id="nombre_id" name="nombre" type="text" class="form-control" />
          		</div>
				<div class="col-xs-4">
					<label>Apellido</label>
          			<input id="apellido_id" name="apellido" type="text" class="form-control" />
          		</div>
			</div>

			<div class="row">
				<div class="col-xs-4 col-xs-push-8">
					<button type="submit" class="btn btn-primary pull-right" style="padding: 5px  7px; margin-top: 35px;">Buscar <i class="fa fa-search"></i></button>
				</div>
			</div>
		</form>	
	</div>

	<div id="error-filtro" class="error-center-mensaje" style="text-align: center;"></div>
		</div>
	</div>


	<table id="tabla-resultado" class="table table-bordered tablafija">
		<thead>
			<th><center>USUARIO</center></th>
			<th><center>CEDULA</center></th>
			<th><center>NOMBRE</center></th>
			<th><center>APELLIDO</center></th>
			<th><center>TIPO USUARIO</center></th>
			<th><center>CORREO</center></th>
			<th><center>OPCIONES</center></th>
		</thead>
		<tbody align="center">
		</tbody>
	</table>
	<center><ul id="indice-busqueda" class="pagination"></ul></center>


</div>


<form id="id_csrf" name="para_eliminar_usuario">
	{% csrf_token %}
</form>


{% endblock main_content %}

{% block extra_script %}
 	<script src="{{STATIC_URL}}js/filtros.js"></script>
 	<script src="{{STATIC_URL}}js/administracion/eliminar_usuario.js"></script>
 	<script src="{{STATIC_URL}}js/administracion/act_inact_usuario.js"></script>

{% endblock extra_script %}