{% extends "base.html" %}
{% load static %}
{% load rcs_tags %}
{% block extra_css %}
    <link href="/static/css/rcs/flujo_style.css"  rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block main_content %}
{% include "menu_base.html" %}


<div class="container">
<div class="well" style="background-color:white; ">
	<center>
	    <section>
	        <div class="title">Datos Titular del Veh&iacute;culo</div>
		</section>
	</center>

 	<form method="post" id="form_editar_titular"  action="{% url 'editar_titular' %} " >
		{% csrf_token %}
	 	<input type="hidden" name="id_titular_vehiculo" value="{{titular_vehiculo.id}}">
	 	
		<div class="row">
			<div class="col-xs-3">
				<label>Cedula de identidad:</label>
				{% input_content form_data 'cedula_titular' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="text" id="id_cedula_titular" class="form-control  ci-mask"  name="cedula_titular" value="{{ input.value }}" >
				{% else %}
				<input type="text" id="id_cedula_titular" class="form-control  ci-mask"  name="cedula_titular" value="{{ titular_vehiculo.cedula }}" >
				{% endif %}
				<div class="error" id="cedula_titular_error">{{input.error}}</div>
			</div>
			<div class="col-xs-3">
			<label>Nombre del Titular:</label>
				{% input_content form_data 'nombre_titular' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="text" id="id_nombre_titular" class="form-control" name="nombre_titular" value="{{ input.value }}" >
				{% else %}
				<input type="text" id="id_nombre_titular" class="form-control" name="nombre_titular" value="{{ titular_vehiculo.nombre }}" >
				{% endif %}
				<div class="error" id="nombre_titular_error">{{ input.error }}</div>
			</div>
			<div class="col-xs-3">
			<label>Apellido del Titular:</label>
				{% input_content form_data 'apellido_titular' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="text" id="id_apellido_titular" class="form-control" name="apellido_titular" value="{{ input.value }}" >
				{% else %}
				<input type="text" id="id_apellido_titular" class="form-control" name="apellido_titular" value="{{ titular_vehiculo.apellido }}" >
				{% endif %}
				<div class="error" id="apellido_titular_error">{{input.error}}</div>
			</div>
			<div class="col-xs-3">
			<label>Tel&eacute;fono</label>
				{% input_content form_data 'telefono_titular' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="text" id="id_telefono_titular" class="form-control tlf-cel-mask"  name="telefono_titular" value="{{ input.value }}" >
				{% else %}
				<input type="text" id="id_telefono_titular" class="form-control tlf-cel-mask"  name="telefono_titular" value="{{ titular_vehiculo.telefono }}" >
				{% endif %}
				<div class="error" id="telefono_titular_error">{{input.error}}</div>
			</div>
			
		</div>




		<br>


        <div class="row">
			<div class="col-xs-4 col-xs-offset-2"><a class="btn btn-danger btn-block" href="{% url "bandeja_titulares" %}" >Atrás</a></div>

			<div class="col-xs-4"><button  class="btn btn-primary btn-block"  type="button" data-toggle="modal" data-target="#modal-verificacion"">Guardar cambios</button></div>

        </div>
	</div>
    </form>
</div>
	<a id="id_href_modal_aceptar" href="{% url "bandeja_titulares" %}" hidden></a>

</div>







{% endblock main_content %}

{% block extra_script %}
 	<script src="{{STATIC_URL}}js/administracion/editar_titular.js"></script>

{% endblock extra_script %}
