{% extends "base.html" %}
{% load static %}
{% load rcs_tags %}
{% block extra_css %}
    <link href="/static/css/rcs/flujo_style.css"  rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block main_content %}
{% include "menu_base.html" %}


<div class="container">
<div class="well" style="background-color:white; ">
	<center>
	    <section>
	        <div class="title">Datos del Usuario</div>
		</section>
	</center>

 	<form method="post" id="form_editar_usuario"  action="{% url 'editar_usuario' %} " >
		{% csrf_token %}
	 	<input type="hidden" name="id_usuario" value="{{usuario.id}}">
	 	
	 	<div class="row">
	 		<div class="col-xs-2 col-xs-offset-7">
	 			<center><label>Reiniciar Usuario</label></center>
	 			<center><input type="checkbox" name="reiniciar"  value="reinicio"></center>
	 		</div>
	 		<div class="col-xs-3 ">
	 			<!-- <div class="col-xs-4"> -->
		        <label>Tipo de usuario</label>
				{% if tiene_sol_cerrada %}
					<input type="text" placeholder="tipo de usuario" value = "{{usuario.fk_tipo_usuario.nombre|title}}" class="form-control input-lg" readonly/>			        
					
		        {% else  %}
			        <select  data-placeholder="Seleccionar usuario"  class="form-control chosen-select" name="tipo_usuario" id='id_tipo_usuario' >
			        {% for e in tipos_de_usuario %}
			              <option value="{{ e.codigo }}" {% if usuario.fk_tipo_usuario.codigo == e.codigo %} 
			              selected="true" {% endif %} >{{ e.nombre|title }}</option>
			        {% endfor %}
			        </select>
		        {% endif %}
	        </div>

 		</div>
		<div class="row">
			<div class="col-xs-6">
				<label>Usuario</label>
				<input type="text" placeholder="nombre de usuario" id="id_username" value = "{{usuario.username}}" class="form-control input-lg" readonly/>
				<div class=" small_error_letter error" id="id-error-username" ></div>
			</div>
			<div class="col-xs-6">
				<label>C&eacute;dula</label>	
				<input type="text" value="{{usuario.cedula}}" placeholder="12345678" class="ci-mask form-control input-lg" id="id_cedula" readonly/>
				<div class=" error" id="id-error-cedula"></div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<label>Nombre</label>

				{% if tiene_sol_cerrada %}
				   <input type="text" placeholder="nombre" class="input-mask-n form-control input-lg" value="{{ usuario.nombre }}" readonly/>
				{% else %}
					{% input_content form_data 'nombre' as input %}
					{% if input.value|check_input or input.error|check_input %}
					<input type="text" name="nombre" placeholder="nombre" id="id_nombre" class="form-control input-lg" value="{{ input.value }}" required/>
					{% else %}
					<input type="text" name="nombre" placeholder="nombre" id="id_nombre" class="form-control input-lg" value="{{ usuario.nombre }}" required/>
					{% endif %}
					<div class="error" id="nombre_error" >{{input.error}}</div>
				{% endif %}
			</div>

			<div class="col-xs-6">
				<label>Apellido</label>	
				{% if tiene_sol_cerrada %}
				   <input type="text" placeholder="apellido" class="input-mask-n form-control input-lg" value="{{ usuario.apellido }}" readonly/>
				{% else %}
					
					{% input_content form_data 'apellido' as input %}
					{% if input.value|check_input or input.error|check_input %}
					<input type="text" name="apellido" placeholder="apellido" class="input-mask-n form-control input-lg" id="id_apellido" value="{{ input.value }}" required/>
					{% else %}
					<input type="text" name="apellido" placeholder="apellido" class="input-mask-n form-control input-lg" id="id_apellido" value="{{ usuario.apellido }}" required/>
					{% endif %}
					<div class="error" id="apellido_error" >{{input.error}}</div>
				{% endif %}
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<label>Correo</label>
				{% if tiene_sol_cerrada %}
				    <input type="email"  placeholder="nombre@dominio.com" class="form-control input-lg" placeholder="Nombre@Dominio.com" value="{{ usuario.correo_electronico }}" readonly/>
				{% else %}
					{% input_content form_data 'correo_electronico' as input %}
					{% if input.value|check_input or input.error|check_input %}
					<input type="email" name="correo_electronico" placeholder="nombre@dominio.com" id="id_correo_electronico" class="form-control input-lg" placeholder="Nombre@Dominio.com" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off value="{{ input.value }}" required/>
					{% else %}
					<input type="email" name="correo_electronico" placeholder="nombre@dominio.com" id="id_correo_electronico" class="form-control input-lg" placeholder="Nombre@Dominio.com" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off value="{{ usuario.correo_electronico }}" required/>
					{% endif %}
					<div class="error" id="correo_electronico_error" >{{input.error}}</div>
					<!-- <div class="error" id="id-error-correo" ></div> -->
				{% endif %}
			</div>
			<div class="col-xs-6">
				<label>Verificar Correo</label>
				{% if tiene_sol_cerrada %}
				    <input type="email"  placeholder="nombre@dominio.com" class="form-control input-lg" placeholder="Nombre@Dominio.com" value="{{ usuario.correo_electronico }}" readonly/>
				{% else %}
				    
					{% input_content form_data 'email2' as input %}
					{% if input.value|check_input or input.error|check_input %}
					<input type="email" name="email2" placeholder="nombre@dominio.com" id="id_correo2" class="form-control input-lg" onblur="confirmEmail()" placeholder="Nombre@Dominio.com" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off value="{{ input.value }}" required/>
					{% else %}
					<input type="email" name="email2" placeholder="nombre@dominio.com" id="id_correo2" class="form-control input-lg" onblur="confirmEmail()" placeholder="Nombre@Dominio.com" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off value="{{ usuario.correo_electronico }}" required/>
					{% endif %}

					<div class="error" id="email2_error">{{input.error}}</div>
				{% endif %}
				<!-- <div class="error" id="id-error-confirm-email"></div> -->
			</div>
		</div>

		<br>


        <div class="row">
			<div class="col-xs-4 col-xs-offset-2"><a class="btn btn-danger btn-block" href="{% url "bandeja_usuarios" %}" >Atrás</a></div>

			<div class="col-xs-4"><button  class="btn btn-primary btn-block"  type="button" data-toggle="modal" data-target="#modal-verificacion"">Guardar cambios</button></div>

        </div>
	</div>
    </form>
</div>
	<a id="id_href_modal_aceptar" href="{% url "bandeja_usuarios" %}" hidden></a>
</div>







{% endblock main_content %}

{% block extra_script %}
 	<script src="{{STATIC_URL}}js/administracion/editar_usuario.js"></script>

{% endblock extra_script %}
