{% extends "base.html" %}
{% load static %}
{% load rcs_tags %}
{% block extra_css %}
    <link href="/static/css/rcs/flujo_style.css"  rel="stylesheet" type="text/css"/>
{% endblock extra_css %}

{% block main_content %}
{% include "menu_base.html" %}


<div class="container">
<div class="well" style="background-color:white; ">
	<center>
	    <section>
	        <div class="title">Datos del Usuario</div>
		</section>
	</center>

 	<form method="post" id="form_editar_usuario"  action="{% url 'editar_usuario' %} " >
		{% csrf_token %}
	 	<input type="hidden" name="id_usuario" value="{{usuario.id}}">
	 	
	 	<div class="row">
	 		<div class="col-xs-3 col-xs-offset-9">
	 			<!-- <div class="col-xs-4"> -->
		        <label>Tipo de usuario</label>
		        <select  data-placeholder="Seleccionar usuario"  class="form-control chosen-select" name="tipo_usuario" id='id_tipo_usuario' >
		        {% for e in tipos_de_usuario %}
		              <option value="{{ e.codigo }}" {% if usuario.fk_tipo_usuario.codigo == e.codigo %} 
		              selected="true" {% endif %} >{{ e.nombre|title }}</option>
		        {% endfor %}
		        </select>
	        </div>

 		</div>
		<div class="row">
			<div class="col-xs-6">
				<label>Usuario</label>
				<input type="text" placeholder="nombre de usuario" id="id_username" value = "{{usuario.username}}" class="form-control input-lg" readonly/>
				<div class=" small_error_letter error" id="id-error-username" ></div>
			</div>
			<div class="col-xs-6">
				<label>C&eacute;dula</label>	
				<input type="text" value="{{usuario.cedula}}" placeholder="12345678" class="ci-mask form-control input-lg" id="id_cedula" readonly/>
				<div class=" error" id="id-error-cedula"></div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<label>Nombre</label>
				{% input_content form_data 'nombre' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="text" name="nombre" placeholder="nombre" id="id_nombre" class="form-control input-lg" value="{{ input.value }}" required/>
				{% else %}
				<input type="text" name="nombre" placeholder="nombre" id="id_nombre" class="form-control input-lg" value="{{ usuario.nombre }}" required/>
				{% endif %}
				<div class="error" id="nombre_error" >{{input.error}}</div>
			</div>

			<div class="col-xs-6">
				<label>Apellido</label>	
				{% input_content form_data 'apellido' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="text" name="apellido" placeholder="Arismendi" class="input-mask-n form-control input-lg" id="id_apellido" value="{{ input.value }}" required/>
				{% else %}
				<input type="text" name="apellido" placeholder="Arismendi" class="input-mask-n form-control input-lg" id="id_apellido" value="{{ usuario.apellido }}" required/>
				{% endif %}
				<div class="error" id="apellido_error" >{{input.error}}</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-xs-6">
				<label>Correo</label>
				{% input_content form_data 'correo_electronico' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="email" name="correo_electronico" placeholder="nombre@dominio.com" id="id_correo_electronico" class="form-control input-lg" placeholder="Nombre@Dominio.com" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off value="{{ input.value }}" required/>
				{% else %}
				<input type="email" name="correo_electronico" placeholder="nombre@dominio.com" id="id_correo_electronico" class="form-control input-lg" placeholder="Nombre@Dominio.com" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off value="{{ usuario.correo_electronico }}" required/>
				{% endif %}
				<div class="error" id="correo_electronico_error" >{{input.error}}</div>
				<!-- <div class="error" id="id-error-correo" ></div> -->
			</div>
			<div class="col-xs-6">
				<label>Verificar Correo</label>
				{% input_content form_data 'email2' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="email" name="email2" placeholder="nombre@dominio.com" id="id_correo2" class="form-control input-lg" onblur="confirmEmail()" placeholder="Nombre@Dominio.com" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off value="{{ input.value }}" required/>
				{% else %}
				<input type="email" name="email2" placeholder="nombre@dominio.com" id="id_correo2" class="form-control input-lg" onblur="confirmEmail()" placeholder="Nombre@Dominio.com" onselectstart="return false" onpaste="return false;" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off value="{{ usuario.correo_electronico }}" required/>
				{% endif %}
				<div class="error" id="email2_error">{{input.error}}</div>
				<!-- <div class="error" id="id-error-confirm-email"></div> -->
			</div>
		</div>

		<!-- <div class="row">
			<div class="col-xs-6">
				<label>Contraseña</label>
				{% input_content form_data 'password' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="password" name="password" placeholder="contraseña" class="form-control input-lg" id="id_password" required/>
				{% else %}
				<input type="password" name="password" placeholder="contraseña" class="form-control input-lg" id="id_password" required/>
				{% endif %}
				<div class="error" id="password_error" >{{input.error}}</div>
			</div>
			<div class="col-xs-6">
				<label>Verificar contraseña</label>
				{% input_content form_data 'password2' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="password" name="password2" placeholder="verificar contraseña" class="form-control input-lg" id="id_password_confirm" required/>
				{% else %}	
				<input type="password" name="password2" placeholder="verificar contraseña" class="form-control input-lg" id="id_password_confirm" required/>
				{% endif %}	
				<div class="error" id="password2_error" >{{input.error}}</div>
			</div>
		</div> -->
		<!-- <div class="row">

			<div class="col-xs-3">
				<label>Cedula de identidad:</label>
				{% input_content form_data 'cedula_titular' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="text" id="id_cedula_titular" class="form-control  ci-mask"  name="cedula_titular" value="{{ input.value }}" >
				{% else %}
				<input type="text" id="id_cedula_titular" class="form-control  ci-mask"  name="cedula_titular" value="{{ titular_vehiculo.cedula }}" >
				{% endif %}
				<div class="error" id="cedula_titular_error">{{input.error}}</div>
			</div>
			<div class="col-xs-3">
			<label>Nombre del Titular:</label>
				{% input_content form_data 'nombre_titular' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="text" id="id_nombre_titular" class="form-control" name="nombre_titular" value="{{ input.value }}" >
				{% else %}
				<input type="text" id="id_nombre_titular" class="form-control" name="nombre_titular" value="{{ titular_vehiculo.nombre }}" >
				{% endif %}
				<div class="error" id="nombre_titular_error">{{ input.error }}</div>
			</div>
			<div class="col-xs-3">
			<label>Apellido del Titular:</label>
				{% input_content form_data 'apellido_titular' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="text" id="id_apellido_titular" class="form-control" name="apellido_titular" value="{{ input.value }}" >
				{% else %}
				<input type="text" id="id_apellido_titular" class="form-control" name="apellido_titular" value="{{ titular_vehiculo.apellido }}" >
				{% endif %}
				<div class="error" id="apellido_titular_error">{{input.error}}</div>
			</div>
			<div class="col-xs-3">
			<label>Tel&eacute;fono</label>
				{% input_content form_data 'telefono_titular' as input %}
				{% if input.value|check_input or input.error|check_input %}
				<input type="text" id="id_telefono_titular" class="form-control tlf-cel-mask"  name="telefono_titular" value="{{ input.value }}" >
				{% else %}
				<input type="text" id="id_telefono_titular" class="form-control tlf-cel-mask"  name="telefono_titular" value="{{ titular_vehiculo.telefono }}" >
				{% endif %}
				<div class="error" id="telefono_titular_error">{{input.error}}</div>
			</div>
			
		</div> -->




		<br>


        <div class="row">
			<div class="col-xs-4 col-xs-offset-2"><a class="btn btn-danger btn-block" href="{% url "bandeja_usuarios" %}" >Atrás</a></div>

			<div class="col-xs-4"><button  class="btn btn-primary btn-block"  type="button" data-toggle="modal" data-target="#modal-verificacion"">Guardar cambios</button></div>

        </div>
	</div>
    </form>
</div>
</div>







{% endblock main_content %}

{% block extra_script %}
 	<script src="{{STATIC_URL}}js/administracion/editar_usuario.js"></script>

{% endblock extra_script %}
